{{ define "main" }}
  <div class="w-90 pa3 center">

    <div class="pv3">
    {{- partial "character-nav-bar.html" (dict "this" .) -}}
    </div>

    <div class="ba b--black-90">
      <h2 class="comic-now f1 pl2 pr3 pt2 pb1">Character Info</h2>

      <div class="mw9 center ph3-ns">
        <div class="cf ph2-ns">

          <div class="fl w-100 w-50-ns pa2 f2 pv2">
            <div class="bb b--black-20 i fw5">{{ .Params.hero_name }}</div>
            <div class="fw1 ttu tracked f3 mt1">Hero Name</div>
          </div>

          <div class="fl w-100 w-50-ns pa2 f2 pv2">
            <div class="bb b--black-20 i fw5">{{ .Params.real_name }}</div>
            <div class="fw1 ttu tracked f3 mt1">Real Name</div>
          </div>

        </div>
      </div>
      
    </div>

  </div>
{{ end }}
