table {
  border-collapse: separate;
}
.chapter-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

table.now-page-bar {
  border-collapse: collapse;
}
table.now-page-bar td {
  padding: 0;
  border-spacing: 0;
}
table.panel-grid {
  border: none;
}
div.chapter-wrapper.tsize-5 {
  width: 650px;
}
div.chapter-wrapper.tsize-4 {
  width: 440px;
}
div.chapter-wrapper.tsize-3 {
  width: 300px;
}
div.chapter-wrapper.tsize-2 {
  width: 200px;
}
div.chapter-wrapper.tsize-1 {
  width: 140px;
}
div.chapter-wrapper.tsize-0 {
  width: 80px;
}


table.page-wrapper {
  padding: 0px;
}

table.panel-grid td, table.cover-grid td {
  border: 1px solid;
}

table.cover-grid td {
  border: 1px solid;
}

table.panel-grid.cols-1 td {
  padding-bottom: 160%;
}
table.panel-grid.cols-2 td {
  padding-bottom: 148%;
}
.tsize-0 table.panel-grid.cols-2 td {
  padding-bottom: 167%;
}
table.panel-grid.cols-3 td {
  padding-bottom: 47%;
}
table.panel-grid.cols-4 td {
  padding-bottom: 34%;
}
.tsize-4 table.panel-grid.cols-4 td {
  padding-bottom: 46%;
}
.tsize-4 table.panel-grid.cols-4 td.double {
  padding-bottom: 98%;
}
.tsize-4 table.panel-grid.cols-3 td.double {
  padding-bottom: 98%;
}
.tsize-0 table.panel-grid.cols-4 td {
  padding-bottom: 47%;
}
.tsize-0 table.panel-grid.double.cols-4 td {
  padding-bottom: 47%;
}
table.panel-grid.double.cols-3 td {
}

table.panel-grid.double.cols-4 td {
  padding-bottom: 45%;
}
.tsize-0 table.panel-grid.double.cols-4 td {
  padding-bottom: 47%;
}

table.panel-grid.cols-3 td.double {
  padding-bottom: 100%;
}
.tsize-0 table.panel-grid.cols-3 td.double {
  padding-bottom: 107%;
}
table.panel-grid.cols-4 td.double {
  padding-bottom: 99%;
}
.tsize-0 table.panel-grid.cols-4 td.double {
  padding-bottom: 107%;
}


div.tsize-9 table.panel-grid, div.tsize-9 table.cover-grid {
  border-spacing: 5px;
  width: 1200px;
}
div.tsize-8 table.panel-grid, div.tsize-8 table.cover-grid {
  border-spacing: 5px;
  width: 900px;
}
div.tsize-7 table.panel-grid, div.tsize-7 table.cover-grid {
  border-spacing: 5px;
  width: 700px;
}
div.tsize-6 table.panel-grid, div.tsize-6 table.cover-grid {
  border-spacing: 5px;
  width: 500px;
}
div.tsize-5 table.panel-grid, div.tsize-5 table.cover-grid {
  border-spacing: 5px;
  width: 300px;
}
div.tsize-4 table.panel-grid, div.tsize-4 table.cover-grid {
  border-spacing: 4px;
  width: 200px;
}
div.tsize-4 table.cover-grid {
  height: 300px;
}
div.tsize-5 table.cover-grid {
  height: 457px;
}
table.cover-grid .cover-title {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}
div.tsize-4 table.cover-grid .cover-title {
  font-size: 2.5em;
}
div.tsize-5 table.cover-grid .cover-title {
  font-size: 3.6em;
}
div.tsize-6 table.cover-grid .cover-title {
  font-size: 6em;
}
div.tsize-6 table.cover-grid {
  height: 753px;
}
div.tsize-3 table.panel-grid, div.tsize-3 table.cover-grid {
  border-spacing: 2px;
  width: 134px;
}
div.tsize-2 table.panel-grid, div.tsize-2 table.cover-grid {
  border-spacing: 2px;
  width: 90px;
}
div.tsize-1 table.panel-grid, div.tsize-1 table.cover-grid {
  border-spacing: 1px;
  width: 60px;
}
div.tsize-0 table.panel-grid, div.tsize-0 table.cover-grid {
  border-spacing: 1px;
  width: 30px;
}
