.comic-now {
  font-family: "Comic Now";
  background-color: #FFFF99;
  display: inline-block;
  text-transform: uppercase;
  margin-top: 0;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  line-height: 1em;
  font-style: italic;
  font-weight: 100;
}
.ch-marker {
    height: 10px;
}
.now-chapter-bar .marker {
  top: 0px;
}
.now-page-bar .marker {
  top: 5px;
}
