{{ $this := .this }}
{{ $hero_key := $this.Params.hero_name_key }}

{{ $data := $this.Site.Data.characters }}
<div class="w-100 pv2 mr2 now-page-bar">
<div class="flex justify-center bb b--silver">
{{ range sort $data.main_characters "chart_order" }}
<a href="/characters/{{.hero_name_key}}/" class="link tc pr1">
  {{ $fade := true }}
  {{ if eq $hero_key .hero_name_key }}
    {{ $fade = false }}
  {{ end }}

  {{ partial "character-badge.html" (dict "key" .hero_name_key "fade" $fade) }}

  <span class="marker relative black-90 {{ if ne $hero_key .hero_name_key }}dn{{end}}">&#9650;</span>
</a>
{{ end }}
</div>
</div>
