<div class="mv4 relative center" style="height: 80vh; width: 80vw">
<canvas id="cnv-characters-panel-total"></canvas>
</div>

<script>
var characters = {{ .page.Params.characters | jsonify | safeJS }};
var colors = {{ .context.Site.Data.colors.map | jsonify | safeJS }};
</script>

<script>
var ctx = document.getElementById('cnv-characters-panel-total');
var chart_data = {data : [], labels : [], backgroundColor : []};

characters.sort((a,b)=>b['total']-a['total']).forEach(function (chr) {
  var hex = colors[chr['primary_color']];
  chart_data.data.push(chr['total']);
  chart_data.labels.push(chr['hero_name']);
  chart_data.backgroundColor.push(hex);
});

var my_data = {
    datasets: [{
        borderColor: "#000",
        borderWidth: 1,
        //hoverBorderColor: "#FFF",
        hoverBorderWidth: 3,
        backgroundColor: chart_data['backgroundColor'],
        data: chart_data['data'],
    }],
    labels: chart_data['labels']
};

var myChart = new Chart(ctx, {
    type: 'doughnut',
    data: my_data
    ,options: {
      //responsive: true,
      maintainAspectRatio: false,
      tooltips: {
        titleFontSize: 16,
        bodyFontSize: 16
      },
      legend: {
        position: 'bottom',
        labels : {
          fontSize: 24
        }
      },
      title: {
        display: false,
        text: 'Character Panel Totals'
      },
      animation: {
        animateScale: true,
        animateRotate: true
      },
      circumference: Math.PI,
      rotation: -Math.PI
    }
});

</script>
