<table class="page-wrapper"><tbody><tr><td>
  <table class="panel-grid cols-3">
    <tbody><tr>
      <td class="white w-32" ></td>
      <td class="white w-32" ></td>
      <td class="white w-32" ></td>
    </tr>
    <tr>
      <td class="white w-32" ></td>
      <td class="white w-32" ></td>
      <td class="white w-32" ></td>
    </tr>
    <tr>
      <td class="white w-32" ></td>
      <td class="white w-32" ></td>
      <td class="white w-32" ></td>
    </tr>
  </tbody></table>
</td></tr></tbody></table>
