{{ if or .PrevInSection .NextInSection }}
	<div date-pref>
		{{if .NextInSection}}
			<a href="{{.NextInSection.Permalink }}" class="dib f6 pl1 hover-bg-light-gray br-100" title="{{ .NextInSection.Title }} ">Previous</a>
		{{end}}

			<a href="{{.Parent.Permalink }}" class="dib f6 pl1 hover-bg-light-gray br-100" title="{{ .Parent.Title }} ">Return to All Pages</a>

		{{if .PrevInSection}}
			<a href="{{ .PrevInSection.Permalink }}" class="dib f6 pr1 hover-bg-light-gray br-100" title="{{ .PrevInSection.Title }}">Next</a>
		{{end}}
	</div>
{{ end }}
