{{ $currentPage := . }}
<nav class="bg-primary-color-dark pv4 w-100" role="navigation">

  <div class="center flex-ns flex-wrap items-center justify-start mw9">

    <h1 class="dim f3 lh-solid ml0-ns mr0 mr4-l mv0 pl3 pl4-ns">
        <a class="link white" href="{{ "/" | relURL}}">{{.Site.Title}}</a>
    </h1>
    <ul class="list ma0 pa0 dn dib-l">
      {{ range .Site.Menus.main }}
        <li class="f5 dib mr4" role="menuitem">
          <a href="{{ .URL }}" class="dim link{{ if $currentPage.IsMenuCurrent "menu" . }} gray {{else}} light-silver{{ end }}">
            {{ .Name }}
          </a>
        </li>
      {{ end }}
    </ul>

  </div>
</nav>
