{{ define "main" }}

<div class="flex">

  <div class="w-50 pa3 mr2">
    <h2>Chapter Info</h2>
    <table>
        <tbody>
            <tr>
                <td>{{ .Params.chapter_numeral }}</td>
                <td>{{ .Params.title }}</td>
            </tr>
            <tr>
                <td>Quote</td>
                <td>{{ .Params.quote }}</td>
            </tr>
            <tr>
                <td>Pages</td>
                <td>{{ .Params.total_pages }}</td>
            </tr>
            <tr>
                <td>Doomsday Clock</td>
                <td>{{ .Params.doomsday_clock }}</td>
            </tr>
          </tbody>
      </table>

      <h2>Characters</h2>
      <table><tbody>
      {{ range sort .Params.characters "total" "desc" }}
        <tr>
            <td class="v-top">{{ .name }}</td>
            <td class="v-top">Appears in {{ .total }} panels</td>
            <td class="v-top">
            {{ with .appears_with }}
            Appears with:<br>
            <ul>
                {{ range $name, $val := . }}
                <li>{{$name}} in {{$val}} panels</li>
                {{ end }}
            </ul>
            {{ end }}
            </td>
        </tr>
      {{ end }}
        </tbody>
    </table>

</div>
<div class="w-50 pa3 mr2">

<h2>Panels</h2>

<div class="chapter-wrapper tsize-4">

{{ partial "chapter-cover-grid.html" }}

{{ range .Params.pages }}
    {{ $page := . }}
    <table class="page-wrapper"><tr><td>
      <table id="{{ $page.id }}" class="panel-grid {{if .has_splash}}double{{end}}
      {{if eq (int $page.col_layout) 3 }}cols-3{{ else }}cols-4{{ end }}">
        {{ range .panels }}
        {{ with . }}
        <tr>
          {{ range . }}
          {{ $is_double := false }}
          {{ if and (eq .cols $page.col_layout) (gt .rows 1) }}{{ $is_double = true}}{{end}}
          <td id="{{ .id }}" {{ if and (.rows) (not $is_double) }}rowspan="{{.rows}}" {{ end }}
          {{ if .cols }}colspan="{{.cols}}"{{ end }}
          class="{{ .color }}{{if $is_double}} double{{end}} {{if (not .cols)}}{{if (eq (int $page.col_layout) 3) }}w-32{{ else }}w-24{{ end }}{{end}}"></td>
          {{ end }}
        </tr>
        {{ end }}
        {{ end }}
      </table>
    </td></tr></table>
{{ end }}
</div>
</div>

{{ partial "page-panel-colors.html" (dict "context" $) }}

</div>
{{ end }}
