{{ define "main" }}

  <div class="w-90 pa3 center">
    <div class="pv3">
    {{- partial "chapter-nav-bar.html" .Params.chapter_num -}}
    </div>

    <div class="ba b--black-90">
      <h2 class="comic-now f1 pl2 pr3 pt2 pb1">Chapter Info</h2>

      {{ $chap_color := index .Site.Data.cover_colors .Params.chapter_numeral }}

      <div class="pa5 pt0 f2">
        <div class="bb b--black-20 flex flex-wrap pv2">
            <div class="w-25 i fw5">{{ .Params.chapter_numeral }}</div>
            <div class="w-75 fw1">{{ .Params.title }}</div>
        </div>
        <div class="bb b--black-20 flex flex-wrap pv2">
            <div class="w-25 i fw5">Pages</div>
            <div class="w-75 fw1">{{ .Params.total_pages }}</div>
        </div>
        <div class="bb b--black-20 flex flex-wrap pv2">
            <div class="w-25 i fw5">Panels</div>
            <div class="w-75 fw1">{{ .Params.total_panels }}</div>
        </div>
        <div class="bb b--black-20 flex flex-wrap pv2">
            <div class="w-25 i fw5">Doomsday Clock</div>
            <div class="w-75 fw1">{{ .Params.doomsday_clock }}</div>
        </div>
        <div class="bb b--black-20 flex flex-wrap pv2">
            <div class="w-25 i fw5">Quote</div>
            <div class="w-75 fw1">{{ .Params.quote }}</div>
        </div>
      </div>
    </div>

    <div class="ba b--black-90">
      <h2 class="comic-now f1 pl2 pr3 pt2 pb1">Characters</h2>
      <div class="pa5 pt0 f3">
        <div class="pa3 pt0 flex flex-wrap">

          {{ range sort .Params.characters "total" "desc" }}
          <div class="mb3 mr3 ba b--black-20 pa2">
          <table><tbody>
            <tr>
                <td class="v-top">

                  {{ partial "character-badge.html" (dict "key" .hero_name_key) }}

                </td>
                <td class="v-top">{{ .hero_name }} <span class="pill bg-black-70 {{$chap_color}}">{{ .total }} Panels</span>
                {{ with .appears_with }}
                with:<br>
                <ul class="list pl3">
                    {{ range sort . "total" "desc" }}
                    <li><div class="pill bg-black-70 {{$chap_color}}">{{ partial "character-pill.html" .name_key }} in {{ int .total }} panels</div></li>
                    {{ end }}
                </ul>
                {{ end }}
                </td>
            </tr>
            </tbody>
        </table>
        </div>
        {{ end }}

      </div>
      </div>
    </div>

    <div class="ba b--black-90">
      <h2 class="comic-now f2 pl2 pr3 pt2 pb1">Character Panel Totals</h2>
      {{ partial "js-characters-panel-total-chart.html" (dict "context" $ "page" .) }}
    </div>
    <div class="ba b--black-90">
      <h2 class="comic-now f2 pl2 pr3 pt2 pb1">Character Panel Timeline</h2>
      {{ partial "js-characters-panel-timeline-chart.html" (dict "context" $ "page" .) }}
    </div>

    <div class="ba b--black-90">
      <h2 class="comic-now f2 pl2 pr3 pt2 pb1">Panels</h2>
      {{ partial "panel-color-buttons.html" }}

      <div class="chapter-wrapper tsize-4">
      {{ range .Params.pages }}
        {{ partial "page-panels.html" (dict "this" .) }}
      {{ end }}
      </div>
    </div>
  </div>

  {{ partial "js-page-panel-colors.html" (dict "context" $) }}

{{ end }}
