{{ define "main" }}

  <div class="w-90 pa3 mr2 center">
    <div class="pv3">
    {{- partial "chapter-nav-bar.html" .Params.chapter_num -}}
    </div>

    <h2>Chapter Info</h2>
    <div class="tsize-6">
      <table class="page-wrapper ba b--black-20"><tbody><tr><td>
        <table class="cover-grid">
          <tbody><tr>
            <td class="black-20 w-26 bg-black-90">
              <div class="cover-title ttu db mw5 fw8 b--black-90 {{ .Params.cover_title_color }} pv3">{{ .Params.chapter_numeral }}</div>
            </td>
            <td class="black-20"><div></div></td>
          </tr>
        </tbody></table>
      </td></tr></tbody></table>
    </div>

    <table>
        <tbody>
            <tr>
                <td>{{ .Params.chapter_numeral }}</td>
                <td>{{ .Params.title }}</td>
            </tr>
            <tr>
                <td>Quote</td>
                <td>{{ .Params.quote }}</td>
            </tr>
            <tr>
                <td>Pages</td>
                <td>{{ .Params.total_pages }}</td>
            </tr>
            <tr>
                <td>Doomsday Clock</td>
                <td>{{ .Params.doomsday_clock }}</td>
            </tr>
          </tbody>
      </table>

      <h2>Characters</h2>
      <table><tbody>
      {{ range sort .Params.characters "total" "desc" }}
        <tr>
            <td class="v-top">{{ .name }}</td>
            <td class="v-top">Appears in {{ .total }} panels</td>
            <td class="v-top">
            {{ with .appears_with }}
            Appears with:<br>
            <ul>
                {{ range $name, $val := . }}
                <li>{{$name}} in {{$val}} panels</li>
                {{ end }}
            </ul>
            {{ end }}
            </td>
        </tr>
      {{ end }}
        </tbody>
    </table>

</div>


<div class="pa3 mt4 center">
{{ partial "js-characters-panel-total-chart.html" (dict "context" $ "page" .) }}
</div>

<div class="pa3 mt4 center">
{{ partial "js-characters-panel-timeline-chart.html" (dict "context" $ "page" .) }}
</div>


<div class="w-90 pa3 mr2">
<h2>Panels</h2>
{{ partial "panel-color-buttons.html" }}

<div class="chapter-wrapper tsize-4">
{{ range .Params.pages }}
  {{ partial "page-panels.html" (dict "this" .) }}
{{ end }}
</div>
</div>

{{ partial "js-page-panel-colors.html" (dict "context" $) }}

</div>
{{ end }}
